@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: #f7f5ff;
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}


.roboto {
  font-family: var(--font-roboto);
}

.josefin {
  font-family: var(--font-josefin);
}

.bebas {
  font-family: var(--font-bebas);
}

.bricolage {
  font-family: var(--font-bricolage);
}

.lato {
  font-family: var(--font-lato);
}

.scroll-smooth {
  scroll-behavior: smooth;
}